* {
    box-sizing: border-box;
}

.dropdown,
.dropdown-content {
    list-style: none;
    width: 100%;
    background: #14ad9b;
    font-family: 'Merriweather', serif;
    color: white;
    padding: 0;
}

.dropdown>li {
    display: inline-block;
    position: relative;
    padding: 0.8em 0.6em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    margin-top: 0.8em;
    left:0;
}

.dropdown-content>li {
    padding: 0.4em;
    left:0;
    cursor: pointer;
}

li:hover {
    background: #129b8b;
}
